*{
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
}

body {
    background-color: #f3f0e7;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 40px;
    line-height: 0.9;
    font-weight: 500;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif; 
}

.header-content {
    display: flex;
    align-items: flex-start;
}

.studio-info {
    margin-left: 35px;
    flex-grow: 1;
    font-size: 8px;
    font-weight: bold;
    line-height: 1;
}

.menu {
   margin-left: auto;
}

.Menu {
    margin-left: auto;
    background-color: black;
    color: white;
    padding: 5px 15px;
    font-size: 10px;
    border-radius: 20px;
    border: none;
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.text-line {
    font-size: 12px;
    color: #000000;
    margin-top: 10px;
    font-weight: bold;
}

.text-label {
    font-size: 50px;
    color: #000000;
    margin-top: 20px;
    line-height: 0.9;
    font-weight: normal;
}

.content-divider {
    border: none;
    border-top: 1px solid #000000;
    margin: 18px 18px;
}

.header-divider {
    border: none;
    border-top: 1px solid #000000;
}